/*
    Chat css
*/

@media only screen and (max-width: 1599px) {
    .dashboard__chat--container{
        flex-wrap: wrap;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .dashboard__chat--container{
        flex-direction: row;
    }
}
.chat__sidebar {
    height: calc(100vh - 20.7rem);
    background: var(--color-background);
    min-width: 6.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px rgba(220, 221, 222, 0.30);
    overflow-y: auto;
}
@media only screen and (max-width: 991px) {
    .chat__sidebar{
        height: auto;
        min-width: 100%;
        flex-direction: row;
    }
}
@media only screen and (max-width: 575px) {
    .chat__sidebar{
        flex-direction: column;
        gap: 0;
    }
    .chat__sidebar--btn{
        justify-content: center;
    }
    .chat__sidebar--btn.top{
        border-bottom: 1px solid var(--color-border-2);
    }
}

.chat__sidebar::-webkit-scrollbar {
    width: 0.5rem;
    height: 15rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Track */
  .chat__sidebar::-webkit-scrollbar-track {
    position: relative;
    right: 0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  /* Handle */
  .chat__sidebar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 0.3rem;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .chat__sidebar:hover::-webkit-scrollbar-thumb {
    background: var(--color-border-2);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }



@media only screen and (min-width: 992px) {
    .chat__sidebar--btn{
        flex-direction: column;
    }
}
.chat__sidebar--btn__field{
    padding: 1rem 2rem;
    border: 0;
    width: 100%;
    background: var(--color-background);
    text-align: center;
}
@media only screen and (min-width: 992px) {
    .chat__sidebar--btn__field{
        padding: 1rem 0;
    }
}
.chat__sidebar--btn__field.active{
    background: rgba(22, 163, 74, 0.07)
}
.chat__sidebar--btn__field:hover{
    background: rgba(22, 163, 74, 0.07)
}
.chat__sidebar--btn.top li:first-child button{
    border-radius: 0.5rem 0.5rem 0 0;
    -webkit-border-radius: 0.5rem 0.5rem 0 0;
    -moz-border-radius: 0.5rem 0.5rem 0 0;
    -ms-border-radius: 0.5rem 0.5rem 0 0;
    -o-border-radius: 0.5rem 0.5rem 0 0;
}
.chat__sidebar--btn.bottom li:last-child button{
    border-radius: 0 0 0.5rem 0.5rem;
    -webkit-border-radius: 0 0 0.5rem 0.5rem;
    -moz-border-radius: 0 0 0.5rem 0.5rem;
    -ms-border-radius: 0 0 0.5rem 0.5rem;
    -o-border-radius: 0 0 0.5rem 0.5rem;
}


.chat__inbox{
    min-width: 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px rgba(220, 221, 222, 0.30);
    background: var(--color-background);
}
@media only screen and (min-width: 1200px) {
    .chat__inbox{
        min-width: 30rem;
    }
}
@media only screen and (min-width: 1366px) {
    .chat__inbox{
        min-width: 35rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .chat__inbox{
        min-width: 54%;
    }
}
.chat__inbox--header{
    padding: 1.5rem 2rem;
    border-bottom: 1px solid var(--color-border-2);
    margin-bottom: 2.5rem;
}
.chat__inbox--header__title{
    font-size: 2rem;
    line-height: 2.4rem;
}
.chat__inbox--popup__btn{
    width: 3rem;
    height: 3rem;
    background: var(--color-background-5);
    border: 0;
    padding: 0;
    color: var(--color-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}
.chat__inbox--search{
    padding: 0 2rem 1rem;
}
.chat__inbox--wrapper{
    height: calc(100vh - 34.8rem);
    overflow-y: auto;
}

.chat__inbox--wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Track */
  .chat__inbox--wrapper::-webkit-scrollbar-track {
    position: relative;
    right: 0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  /* Handle */
  .chat__inbox--wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 0.3rem;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .chat__inbox--wrapper:hover::-webkit-scrollbar-thumb {
    background: var(--color-border-2);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }

.chat__inbox--menu__title{
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--color-foreground-sub);
}
.chat__inbox--menu__link{
    display: block;
    padding: 1rem 2rem;
}
.chat__inbox--menu__link.active{
    background: var(--color-background-5);
}
.chat__inbox--menu__link:hover{
    background: var(--color-background-5);
}
.chat__inbox--search form{
    width: 100%;
    position: relative;
}
.chat__inbox--search__input{
    width: 100%;
    height: 4.5rem;
    background: var(--color-background-4);
    border: 0;
    font-size: 1.4rem;
    padding: 0 3.8rem 0 1.5rem;
    border-radius: 0.5rem;
}
.chat__inbox--search__btn{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border: 0;
    padding: 0;
    background: inherit;
    color: var(--color-foreground-sub);
}
.chat__inbox--search__btn:hover{
    color: var(--color-hover);
}
.chat__inbox--author__thumbnail{
    min-width: 3rem;
    height: 3rem;
    position: relative;
}
.chat__inbox--author__content{
    padding-left: 1rem;
}
.chat__inbox--author--name{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-foreground);
}
.chat__inbox--author__desc{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color-foreground-sub-2);
    margin-top: 0.5rem;
}
.chat__inbox--date-time{
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color-foreground-sub-2);
}
.chat__inbox--author__badge{
    position: absolute;
    width: 0.9rem;
    height: 0.9rem;
    background: #F69090;
    border: 1px solid var(--color-background);
    right: -1px;
    bottom: 0;
    border-radius: 50%;
}
.chat__inbox--author__badge.active{
    background: var(--color-hover);
}
.chat__inbox--author__desc.active {
    color: var(--color-hover);
}

@media only screen and (min-width: 992px) {
    .chat__sidebar--btn__list.profile{
        border-top: 1px solid var(--color-border-2);
    }
}
@media only screen and (max-width: 991px) {
    .chat__sidebar--btn__list.profile{
        border-left: 1px solid var(--color-border-2);
    }
}
.chat__message--box{
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px rgba(220, 221, 222, 0.30);
    background: var(--color-background);
}
@media only screen and (max-width: 1599px) {
    .chat__message--box{
        width: calc(100% - 47.6rem);
    }
}
@media only screen and (max-width: 1365px) {
    .chat__message--box{
        width: calc(100% - 42.5rem);
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .chat__message--box{
        width: 100%;
        order: 1;
    }
}
@media only screen and (max-width: 767px) {
    .chat__message--box{
        width: 100%;
    }
}
.chat__message--header{
    padding: 2rem;
    border-bottom: 1px solid var(--color-border-2);
}
.chat__message--author{
    gap: 1.2rem;
}
.chat__message--author__thumbnail{
    min-width: 4rem;
    height: 4rem;
    position: relative;
}
.chat__message--author__title{
    font-size: 1.5rem;
    line-height: 1.6rem;
}
.chat__message--author__subtitle{
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: var(--color-foreground-sub);
}

.chat__message--author__badge{
    width: 1.2rem;
    height: 1.2rem;
    background: var(--color-hover);
    position: absolute;
    right: 0;
    bottom: 0;
    border: 1px solid var(--color-background);
    border-radius: 50%;
}
.chat__message--account{
    gap: 1rem;
}
.chat__message--account__btn{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--color-border-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    color: var(--color-foreground-sub);
}
.chat__message--account__btn:hover{
    border-color: var(--color-hover);
    color: var(--color-hover);;
}
.chat__message--footer{
    padding: 0 2rem 2rem;
}
.chat__message--form{
    position: relative;
}
.chat__message--input__field{
    width: 100%;
    height: 5rem;
    border: 1px solid var(--color-border);
    font-size: 1.4rem;
    border-radius: 0.5rem;
    padding: 0 5rem 0 10rem;
    background: var(--color-background);
    color: var(--color-foreground-sub);
}
.chat__message--input__field:focus{
    border-color: var(--color-hover);
}
.chat__message--btn__option{
    position: absolute;
    top: 50%;
    border: 0;
    padding: 0;
    background: inherit;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.chat__message--btn__option.one{
    left: 2rem;
}
.chat__message--btn__option.two{
    left: 6rem;
}
.chat__message--btn__option.three{
    right: 1.5rem;
}
.chat__message--wrapper{
    padding: 2rem 2rem 3rem;
    height: calc(100vh - 36rem);
    overflow-y: auto;
}

.chat__message--wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 20rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  /* Track */
  .chat__message--wrapper::-webkit-scrollbar-track {
    position: relative;
    right: 0;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  /* Handle */
  .chat__message--wrapper::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    width: 0.3rem;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
  
  .chat__message--wrapper:hover::-webkit-scrollbar-thumb {
    background: var(--color-border-2);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }


.chat__message--list__inner{
    display: flex;
    gap: 1rem;
}
.message__out{
    text-align: right;
}
.message__out .chat__message--list__inner{
    text-align: right;
    justify-content: flex-end;
}
.chatting__message--date{
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: var(--color-foreground-sub);
}
.message__in .chatting__message--date{
    margin-bottom: 1.2rem;
}
.chatting__message--thumb{
    min-width: 3rem;
    width: 3rem;
}
.chatting__message--desc{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-foreground);
    padding: 1rem 1.2rem;
    background: var(--color-background-6);
    margin-bottom: 0.7rem;
    border-radius: 0 2rem 2rem;
    display: inline-block;
}
.chatting__message--desc.line1{
    border-radius: 2rem 2rem 2rem 0;
    -webkit-border-radius: 2rem 2rem 2rem 0;
    -moz-border-radius: 2rem 2rem 2rem 0;
    -ms-border-radius: 2rem 2rem 2rem 0;
    -o-border-radius: 2rem 2rem 2rem 0;
}
.chatting__message--desc:last-child{
    margin-bottom: 0;
}
.chatting__clint--display{
    margin: 0.8rem 0 0.5rem;
}
.chatting__message--content {
    width: 90%;
}
@media only screen and (min-width: 576px) {
    .chatting__message--content {
        width: 70%;
    }
}
.message__out--content {
    width: 90%;
}
.chat__message--header {
    flex-wrap: wrap;
    gap: 2rem;
}
@media only screen and (min-width: 576px) {
    .message__out--content {
        width: 68%;
    }
}
.message__out--desc{
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-white);
    padding: 1rem 1.2rem;
    background: var(--color-hover);
    margin-bottom: 0.7rem;
    display: inline-block;
    border-radius: 2rem 2rem 0;
    -webkit-border-radius: 2rem 2rem 0;
    -moz-border-radius: 2rem 2rem 0;
    -ms-border-radius: 2rem 2rem 0;
    -o-border-radius: 2rem 2rem 0;
}
.message__out--desc:last-child{
    margin-bottom: 0;
}
.message__out--author{
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--color-foreground-sub);
    margin: 1.5rem 0 1rem;
}
.message__out--author span{
    color: var(--color-foreground);
    font-weight: 700;
}
.chat__message--list{
    margin-bottom: 2rem;
}
.chat__message--list:last-child{
    margin-bottom: 0;
}

.chat__profile--header{
    padding: 1.5rem 1.5rem 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-border-2);
}
.chat__profile--box{
    width: 30rem;
    height: calc(100vh - 20.7rem);
    overflow-y: auto;
}
@media only screen and (min-width: 1600px) {
    .chat__profile--box{
        min-width: 27.5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .chat__profile--box{
        width: 41%;
    }
}
@media only screen and (max-width: 767px) {
    .chat__profile--box{
        width: 100%;
    }
}
.chat__profile--box__inner{
    border-radius: 0.5rem;
    box-shadow: 0 0 4px 2px rgba(220, 221, 222, 0.30);
    background: var(--color-background);
}

.chat__profile--box__wrapper{
    padding: 0 1.5rem 2rem;
}
.chat__profile--photos{
    flex-wrap: wrap;
    gap: 0.7rem;
    margin-bottom: 1rem;
}
.chat__profile--photos__items{
    width: 48%;
}
.chat__profile--photos__link{
    display: block;
}
.chat__profile--photos__media{
    width: 100%;
}
.chat__profile--see__more--btn{
    display: block;
    text-align: center;
    background: var(--color-background-6);
    font-size: 1.4rem;
    line-height: 3.5rem;
    height: 3.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
}
.chat__profile--see__more--btn:hover{
    background: var(--color-hover);
    color: var(--color-white);
}
.chat__profile--step__header{
    margin-bottom: 1.5rem;
}
.chat__profile--step__title{
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.chat__profile--view__all{
    font-size: 1.3rem;
    line-height: 1.6rem;
    text-decoration: underline;
    color: var(--color-hover);
    font-weight: 500;
}
.chat__profile--view__all:hover{
    color: var(--color-foreground);
    text-decoration: underline;
}

.chat__profile--download__left{
    gap: 1rem;
}
.chat__profile--download__list{
    margin-bottom: 1.5rem;
}
.chat__profile--download__list:last-child{
    margin-bottom: 0;
}
.chat__profile--download__file--icon{
    min-width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--color-border-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}
.chat__profile--download__file--name{
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-bottom: 0.2rem;
}
.chat__profile--download__file--date{
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--color-foreground-sub-2);
}
.chat__profile--download__btn{
    padding: 0;
    background: inherit;
    border: 0;
    padding: 0;
}
.chat__profile--download__btn:hover{
    color: var(--color-hover);
}

.modal__contact--main__content{
    border-radius: 1rem;
    background: var(--color-background);
}
.modal__contact--header{
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-border-2);
}
.modal__contact--header__title{
    font-size: 1.5rem;
    line-height: 1.6rem;
}
.modal__contact--close__btn{
    padding: 0;
    border: 0;
    background: inherit;
}
.modal__contact--body{
    padding: 2rem;
}
.modal__contact--input__label{
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.modal__contact--input__field{
    width: 100%;
    height: 4.5rem;
    border: 1px solid var(--color-border-2);
    font-size: 1.4rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    background: var(--color-background);
}
.modal__contact--input__field:focus{
    border-color: var(--color-hover);
}
.modal__contact--textarea__field{
    width: 100%;
    height: 7rem;
    border: 1px solid var(--color-border-2);
    font-size: 1.4rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    resize: none;
    background: var(--color-background);
}
.modal__contact--textarea__field:focus{
    border-color: var(--color-hover);
}
.modal__contact--close__btn{
    color: var(--color-foreground-sub);
}

.modal__contact--close__btn:hover{
    color: var(--color-hover);
}

.modal__calling--author{
    text-align: center;
}
.modal__calling--author__thumb{
    margin: 1rem auto 2rem;
}
.modal__calling--author__name{
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 0.7rem;
}
.modal__calling--author__subtitle{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
    color: var(--color-hover);
}
.modal__calls--footer{
    margin: 3rem 0 1rem;
    gap: 1.5rem;
}

.call__receive{
    width: 5rem;
    height: 5rem;
    border: 0;
    background: var(--color-hover);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.9;
}
.call__receive:hover{
    opacity: 1;
}
.call__cancel{
    width: 5rem;
    height: 5rem;
    border: 0;
    background: var(--color-hover);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 0.9;
}
.call__cancel:hover{
    opacity: 1;
}