/*
    Dark css
*/

/*
    1. Base CSS
*/
.dark {
    --color-background: #1E293B;
    --color-background-2: #ffffff;
    --color-background-3: #0F172A;
    --color-background-5: #1A2436;
    --color-background-6: #1A2436;
    --color-border: #334155;
    --color-border-2: #334155;
    --color-background-4: #1A2436;
    --color-foreground: #F1F5F9;
    --color-foreground-sub: #94A3B8;
    --color-foreground-2: #F1F5F9;
    --color-foreground-sub-2: #94A3B8;
}




.dark--version .dark--mode__icon{
    display: block;
}
.dark--version .light--mode__icon{
    display: none;
}

.dark .main__logo--img.dark__logo{
    display: block;
}
.dark .main__logo--img.light__logo{
    display: none;
}

.dark .recent__activity--message__list.one::before {
    background: #1D353C;
}
.dark .recent__activity--message__list.two::before {
    background: #282E4B;
}
.dark .recent__activity--message__list.three::before {
    background: #22374E;
}
.dark .recent__activity--message__list.four::before {
    background: #323348;
}
.dark .offcanvas__logo .dark__logo{
    display: block;
}
.dark .offcanvas__logo .light__logo{
    display: none;
}
.dark .predictive__search--button{
    background: #26232A;
}