/*
    Dashboard Table css
*/
.reviews__heading--title{
    margin-bottom: 1rem;
}
.reviews__heading--desc{
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: var(--color-foreground-sub);
}
.dashboard__reviews--wrapper{
    background: var(--color-background);
    border: 1px solid var(--color-border-2);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.reviews__table--wrapper{
    width: 100%;
}
.reviews__topbar{
    padding: 2rem;
    gap: 2rem;
}
@media only screen and (max-width: 479px) {
    .reviews__topbar{
        flex-direction: column;
    }
}
.reviews__account{
    gap: 1.2rem;
    flex-wrap: wrap;
}
@media only screen and (max-width: 479px) {
    .reviews__account{
       justify-content: center;
    }
}
.reviews__account--btn{
    padding: 0 0.7rem;
    height: 3.8rem;
    line-height: 3.6rem;
    background: var(--color-background);
    border: 1px solid var(--color-border-2);
    font-size: 1.3rem;
    color: var(--color-foreground-sub);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
@media only screen and (min-width: 576px) {
    .reviews__account--btn{
        padding: 0 1rem;
        font-size: 1.4rem;
        gap: 0.6rem;
    }
}
.reviews__account--btn:hover{
    color: var(--color-hover);
    border-color: var(--color-hover);
}
.reviews__account--badge{
    width: 2rem;
    height: 2rem;
    background: var(--color-border);
    color: var(--color-foreground-sub);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
}
.reviews__author--wrapper {
    display: flex;
    align-items: center;
    min-width: 25rem;
}
.reviews__author {
    padding-left: 3.5rem;
}
.reviews__author--check__input{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    opacity: 0;
    cursor: pointer;
    z-index: 999;
    width: 1.8rem;
    height: 1.8rem;
}
.reviews__author--checkmark{
    height: 1.8rem;
    width: 1.8rem;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    background: var(--color-background);
    transition: var(--transition);
}

.reviews__author--checkmark::before{
    right: 0.5rem;
    top: 0.3rem;
    width: 0.5rem;
    height: 0.8rem;
    border: solid white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
}

.reviews__author--check__input:checked ~ .reviews__author--checkmark::before {
    display: block;
}
.reviews__author--check__input:checked ~ .reviews__author--checkmark {
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
}
.reviews__author--thumb{
    min-width: 3rem
}
.reviews__author--title{
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.reviews__author--subtitle{
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: var(--color-foreground-sub);
    margin-top: 0.5rem;
    margin-bottom: 0;
}
.reviews__author--text{
    padding-left: 1rem;
}
.reviews__table--body__text{
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-foreground-sub);
    min-width: 20rem;
}
.reviews__ratting{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    min-width: 14rem;
}

.reviews__ratting--text{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-foreground-sub);
    margin-left: 0.5rem;
}
.reviews__date{
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--color-foreground-sub);
    min-width: 10rem;
}
.reviews__action--btn{
    padding: 0;
    border: 0;
    background: inherit;
    color: var(--color-foreground-sub);
}
.reviews__action--btn:hover{
    color: var(--color-hover);
}
.reviews__table--wrapper thead tr th{
    padding: 2rem;
    background: var(--color-background-5);
}
.reviews__table--wrapper tbody tr td{
    padding: 2rem;
}
.reviews__table--wrapper tbody tr:nth-child(2n) td{
    background: var(--color-background-5);
}


.pagination__area{
    padding: 4rem 0;
}

.pagination__menu {
    gap: 1.2rem;
  }
  @media only screen and (min-width: 480px) {
    .pagination__menu {
        gap: 1.5rem;
      }
    }
  @media only screen and (min-width: 576px) {
    .pagination__menu {
        gap: 2rem;
      }
    }
  .pagination__menu--link {
    width: 4rem;
    height: 4.2rem;
    border: 1px solid var(--color-border-2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
  }
  @media only screen and (min-width: 480px) {
    .pagination__menu--link {
        width: 4.2rem;
        height: 4.5rem;
      }
    }
  @media only screen and (min-width: 576px) {
    .pagination__menu--link {
        width: 4.8rem;
        height: 5rem;
      }
    }
  .pagination__menu--link.active {
    background: var(--color-hover);
    color: var(--color-white);
    border-color: var(--color-hover);
    pointer-events: none;
  }
  .pagination__menu--link:hover {
    border-color: var(--color-hover);
    color: var(--color-hover);
  }
  
  .pagination__menu--items.pagination__arrow {
    gap: 0.8rem;
  }
  
  .pagination__arrow-icon {
    color: var(--color-border);
  }
  .pagination__arrow-icon.link:hover {
    color: var(--color-hover);
  }


  /* my properties css */
  .properties__wrapper{
    background: var(--color-background);
    border: 1px solid var(--color-border-2);
    border-radius: 0.5rem;
  }
  .properties__author--price{
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--color-hover);
    font-weight: 600;
    margin-top: 0.8rem;
  }
  .properties__author--thumb{
    min-width: 7.0rem;
  }

  .properties__table--wrapper{
    width: 100%;
  }
  .properties__table--wrapper thead tr th{
    padding: 2rem;
    background: var(--color-background-5);
  }
  .properties__table--wrapper thead tr th span.min-w-100{
    min-width: 10rem;
    text-align: center;
  }
  .properties__table--wrapper tbody tr td{
    padding: 2rem; 
    border-bottom: 1px solid var(--color-border-2);
  }
  .status__btn{
    min-width: 11.2rem;
    height: 3.5rem;
    line-height: 3.5rem;
    font-size: 1.4rem;
    text-align: center;
    background: var(--color-background-5);
    border-radius: 2rem;
  }
  .status__btn.pending{
    background: rgba(255, 25, 88, 0.08);
    color: #FF1958;
  }
  .status__btn.processing{
    background: rgba(255, 120, 0, 0.08);
    color: #FF7800;
  }
  .status__btn.active{
    background: rgba(22, 163, 74, 0.08);
    color: var(--color-hover);
  }
 .properties__views{
    min-width: 10rem;
 }
 .properties__author{
    min-width: 28rem;
 }
.package__table--body--text {
  min-width: 15rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--color-foreground-sub);
}

.package_table_wrapper thead tr th:first-child {
  padding-left: 4rem;
}
.package_table_wrapper tbody tr td:first-child {
  padding-left: 4rem;
}